<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="fileMapper">

    <select id="queryAll" resultType="List">
        select
            t.id,
            t.file_path as filePath,
            t.upload_time as uploadTime
        from t_file t
    </select>

    <update id="updateFileUploadTime" parameterType="String">
        update t_file
        set
            t.upload_time = #{uploadTime}
        where
            t.id = #{id}
    </update>

</mapper>